@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
:root {
  --darkGray: hsl(0, 0%, 55%);
  --veryDarkgray: hsl(0, 0%, 41%);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  transition: 300ms ease;
}

html {
  box-sizing: border-box;
}

@media only screen and (max-width: 37.5em) {
  html {
    font-size: 80%;
  }
}

a,
button {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
  border: none;
  font-size: inherit;
}

a:hover,
button:hover {
  cursor: pointer;
}

body {
  font-size: 15px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Alata", sans-serif;
}

li {
  list-style: none;
}

.container {
  width: 70%;
  margin: 0 auto;
}

@media only screen and (max-width: 37.5em) {
  .container {
    width: 90%;
  }
}

.header {
  min-height: 80vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.336), rgba(0, 0, 0, 0.5)), url("../images/desktop/image-hero.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 2rem;
}

@media only screen and (max-width: 56.25em) {
  .header {
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.336), rgba(0, 0, 0, 0.5)), url("../images/mobile/image-hero.jpg");
  }
}

@media only screen and (max-width: 37.5em) {
  .header {
    display: flex;
    justify-content: center;
  }
}

.header__hero {
  color: white;
  border: 2px solid white;
  font-size: 4.2rem;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  width: 70%;
  padding: 1rem;
  margin-top: 6rem;
  line-height: 1;
}

@media only screen and (max-width: 56.25em) {
  .header__hero {
    width: 80%;
    font-size: 3.5rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .header__hero {
    width: 100%;
    margin-top: 40%;
    padding: 2rem;
  }
}

.nav {
  margin: auto;
  width: 100%;
  display: flex;
  font-family: "Josefin Sans", sans-serif;
  justify-content: space-between;
  align-items: center;
}

.nav__menu {
  display: none;
}

@media only screen and (max-width: 56.25em) {
  .nav__menu {
    display: block;
  }
}

.nav__item {
  margin-left: 1rem;
}

.nav__link {
  display: inline-block;
  position: relative;
}

.nav__link:hover::before {
  opacity: 1;
}

.nav__link::before {
  content: "";
  width: 20px;
  height: 2px;
  display: block;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  opacity: 0;
}

.nav__list {
  color: white;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 56.25em) {
  .nav__list {
    display: none;
  }
}

.one {
  padding: 6rem 0;
}

.one__container {
  position: relative;
  display: flex;
}

@media only screen and (max-width: 56.25em) {
  .one__container {
    flex-direction: column;
    align-items: center;
  }
}

.one__img {
  width: 70%;
}

@media only screen and (max-width: 56.25em) {
  .one__img {
    width: 90%;
  }
}

.one__hero {
  background-color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 3rem;
  padding-bottom: 0;
  width: 50%;
}

@media only screen and (max-width: 56.25em) {
  .one__hero {
    position: relative;
    width: 90%;
    text-align: center;
  }
}

.one__title {
  font-size: 2rem;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  margin-bottom: 1rem;
  line-height: 1;
}

.one__desc {
  color: var(--darkGray);
  font-family: "Alata", sans-serif;
}

.gallery {
  padding: 3rem 0;
}

.gallery__head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 37.5em) {
  .gallery__head {
    justify-content: center;
  }
}

.gallery__title {
  font-size: 2rem;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
}

.gallery__btn {
  border: 1px solid black;
  color: black;
  padding: 0.5rem 2rem;
  text-transform: uppercase;
  font-weight: bold;
}

.gallery__btn:hover {
  background-color: black;
  color: white;
}

@media only screen and (max-width: 37.5em) {
  .gallery__btn {
    display: none;
  }
}

.gallery .two {
  display: none;
  margin: 3rem auto 0 auto;
  padding: 0.5rem 3rem;
  letter-spacing: 1.2;
}

@media only screen and (max-width: 37.5em) {
  .gallery .two {
    display: block;
  }
}

.gallery__body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  gap: 1rem;
}

@media only screen and (max-width: 37.5em) {
  .gallery__body {
    grid-template-columns: 1fr;
  }
}

.item {
  width: 100%;
  height: 25rem;
  position: relative;
  line-height: 1;
  background-position: center;
  background-size: cover;
}

@media only screen and (max-width: 37.5em) {
  .item {
    height: 12rem;
  }
}

.item__title {
  font-size: 1.8rem;
  font-family: "Josefin Sans", sans-serif;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem 2rem;
  display: flex;
  align-items: flex-end;
}

.item:hover .item__title {
  color: black;
  background-color: rgba(255, 255, 255, 0.7);
}

.item:nth-child(1) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/desktop/image-deep-earth.jpg");
}

@media only screen and (max-width: 37.5em) {
  .item:nth-child(1) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/mobile/image-deep-earth.jpg");
  }
}

.item:nth-child(2) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/desktop/image-night-arcade.jpg");
}

@media only screen and (max-width: 37.5em) {
  .item:nth-child(2) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/mobile/image-night-arcade.jpg");
  }
}

.item:nth-child(3) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/desktop/image-soccer-team.jpg");
}

@media only screen and (max-width: 37.5em) {
  .item:nth-child(3) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/mobile/image-soccer-team.jpg");
  }
}

.item:nth-child(4) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/desktop/image-grid.jpg");
}

@media only screen and (max-width: 37.5em) {
  .item:nth-child(4) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/mobile/image-grid.jpg");
  }
}

.item:nth-child(5) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/desktop/image-from-above.jpg");
}

@media only screen and (max-width: 37.5em) {
  .item:nth-child(5) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/mobile/image-from-above.jpg");
  }
}

.item:nth-child(6) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/desktop/image-pocket-borealis.jpg");
}

@media only screen and (max-width: 37.5em) {
  .item:nth-child(6) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/mobile/image-pocket-borealis.jpg");
  }
}

.item:nth-child(7) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/desktop/image-curiosity.jpg");
}

@media only screen and (max-width: 37.5em) {
  .item:nth-child(7) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/mobile/image-curiosity.jpg");
  }
}

.item:nth-child(8) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/desktop/image-fisheye.jpg");
}

@media only screen and (max-width: 37.5em) {
  .item:nth-child(8) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/mobile/image-fisheye.jpg");
  }
}

.footer {
  background-color: black;
  color: white;
  padding: 3rem 0;
}

@media only screen and (max-width: 37.5em) {
  .footer {
    padding: 5rem 0;
  }
}

.footer .logo {
  transform: scale(0.8);
  position: relative;
  left: -20px;
}

@media only screen and (max-width: 37.5em) {
  .footer .logo {
    left: 0;
    transform: scale(1);
  }
}

.footer__top, .footer__bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Alata", sans-serif;
}

@media only screen and (max-width: 37.5em) {
  .footer__top {
    width: 100%;
    display: grid;
    justify-items: center;
    justify-content: center;
    gap: 1rem;
  }
}

.footer__list {
  display: none;
}

@media only screen and (max-width: 37.5em) {
  .footer__list {
    display: grid;
    gap: 1.5rem;
    text-align: center;
  }
  .footer__list li.nav__item {
    margin: 0;
  }
}

.footer__social {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 37.5em) {
  .footer__social {
    margin: 1rem 0;
  }
}

.footer__social li {
  margin-left: 1rem;
}

.footer__socmed {
  position: relative;
}

.footer__socmed:hover::before {
  opacity: 1;
}

.footer__socmed::before {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: white;
  position: absolute;
  bottom: -10px;
  opacity: 0;
}

.footer__top {
  margin-bottom: 1rem;
}

.footer .nav__item {
  margin-right: 2rem;
  margin-left: 0;
}

.footer__copyright {
  color: var(--darkGray);
}

@media only screen and (max-width: 37.5em) {
  .footer__copyright {
    text-align: center;
    margin: auto;
  }
}
