.header {
    min-height: 80vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.336), rgba(0, 0, 0, 0.5)),
        url("../images/desktop/image-hero.jpg");
    background-size: cover;
    background-position: center;
    padding-top: 2rem;

    @include query(tabp) {
        min-height: 100vh;
        background-image: linear-gradient(
                rgba(0, 0, 0, 0.336),
                rgba(0, 0, 0, 0.5)
            ),
            url("../images/mobile/image-hero.jpg");
    }

    @include query(cp) {
        display: flex;
        justify-content: center;
    }
    &__hero {
        color: white;
        border: 2px solid white;
        font-size: 4.2rem;
        font-family: "Josefin Sans", sans-serif;
        text-transform: uppercase;
        font-weight: 300;
        width: 70%;
        padding: 1rem;
        margin-top: 6rem;
        line-height: 1;
        @include query(tabp) {
            width: 80%;
            font-size: 3.5rem;
        }

        @include query(cp) {
            width: 100%;
            margin-top: 40%;
            padding: 2rem;
        }
    }
}

.nav {
    margin: auto;
    width: 100%;
    display: flex;
    font-family: "Josefin Sans", sans-serif;
    justify-content: space-between;
    align-items: center;

    &__menu {
        display: none;
        @include query(tabp) {
            display: block;
        }
    }

    &__item {
        margin-left: 1rem;
    }

    &__link {
        display: inline-block;
        position: relative;

        &:hover::before {
            opacity: 1;
        }
        &::before {
            content: "";
            width: 20px;
            height: 2px;
            display: block;
            position: absolute;
            bottom: -10px;
            left: 50%;
            transform: translateX(-50%);
            background-color: white;
            opacity: 0;
        }
    }
    &__list {
        color: white;
        display: flex;
        align-items: center;

        @include query(tabp) {
            display: none;
        }
    }
}
