.one {
    padding: 6rem 0;
    &__container {
        position: relative;
        display: flex;

        @include query(tabp) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__img {
        width: 70%;
        @include query(tabp) {
            width: 90%;
        }
    }

    &__hero {
        background-color: white;
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 3rem;
        padding-bottom: 0;
        width: 50%;

        @include query(tabp) {
            position: relative;
            width: 90%;
            text-align: center;
        }
    }

    &__title {
        font-size: 2rem;
        font-family: "Josefin Sans", sans-serif;
        text-transform: uppercase;
        margin-bottom: 1rem;
        line-height: 1;
    }

    &__desc {
        color: var(--darkGray);
        font-family: "Alata", sans-serif;
    }
}
